body {
  font-family: "Cutive Mono", monospace;
  font-weight: 400;
  font-style: normal;
  background-color: #130047;
  color: #D2E882;
  line-height: 1.8em;
}

a {
 color: #D2E882;
}

a:visited {
  color: #D2E882;
}

.header {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 50vw;
}

.footer {
  position: absolute;
  bottom: 24px;
  right: 24px;
  display: flex;
  justify-content: space-evenly;
}

.bullet {
  margin: 0 12px;
}

.header-text, .hideaway {
  font-size: 24px;
  text-align: center;
}

.hideaway {
  margin-top: 48px;
}

.italic {
  font-style: italic;
}
