body {
  font-family: "Cutive Mono", monospace;
  font-weight: 400;
  font-style: normal;
  background-color: #130047;
  color: #D2E882;
  line-height: 1.5em;
}

a {
 color: #D2E882;
}

a:visited {
  color: #A3E779;
}

.header {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 50vw;
}

.header-text, .hideaway {
  font-size: 18px;
  text-align: center;
}

.hideaway {
  font-size: 18px;
  margin-top: 48px;
}

.italic {
  font-style: italic;
}
